{% extends "Gymobile_app/base.html"%}
{% load staticfiles %}

{% block content %}

<br>
<div class="container">
  <h1><strong>Start Workout</h1>
    <!-- change the day to workout id-->
  <a class="btn btn-primary" href="{%url 'Gymobile_app:new_day'%}" role="button">Start an Empty Workout: </a>
  <br>
  <br>
  <a class="btn btn-primary" href="#" role="button">Start an Workout of the day </a>
  <h1><strong>Routine</h1>
    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
  <h1><strong>Workout History</h1>

    <div class="row">
      <div class="col-md-4 overflow-auto">

        {% for day in days %}
          <br>
          <div class="card">
            <div class="card-body">
              <a href ="{% url 'Gymobile_app:day' day.id %}">{{ day }}</a>
            </div>
          </div>


        {% empty %}
          <P> No workouts have been added yet.</p>
        {% endfor %}
      </div>

    </div>
</div>
{% endblock content%}
