{% extends "Gymobile_app/base.html"%}
{% load staticfiles %}

{% block content %}

<div class="container">
  <h1><strong>Start Workout</h1>
    <!-- change the day to workout id-->
  <a class="mybutton btn btn-primary" href="{%url 'Gymobile_app:new_log'%}" role="button">Start an Empty Workout</a>

  <a class="mybutton btn btn-primary" href="#" role="button">Start an Workout of the day </a>
</div>

<div class="container">
  <h1><strong>Routine</h1>
    <a class="routine btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
    <a class="routine btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
    <a class="routine btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
    <a class="routine btn btn-primary" href="#" role="button"><i class="fa fa-folder"></i> Routine 1</a>
</div>

<div class="container">
  <h1><strong>Workout History</h1>

        {% for workoutlog in workoutlogs %}

          <div class="history card">
            <div class="card-body">

              <a href ="{% url 'Gymobile_app:workoutlog' workoutlog.id %}">{{ workoutlog }}</a>

            </div>
          </div>

        {% empty %}
          <P> No workouts have been added yet.</p>
        {% endfor %}
</div>


{% endblock content%}
